monsters/CRUSADE/gic_crusade_ichizenshinsengumi/gic_crusade_ichizenshinsengumifirstpass.clip
monsters/CRUSADE/gic_crusade_ichizenshinsengumi_wounded/gic_crusade_ichizenshinsengumi_wounded.pdn
monsters/BOSSES/gic_garden_haraldrthebellwatcher/Head.png
monsters/BOSSES/gic_garden_haraldrthebellwatcher/gic_garden_haraldrthebellwatcher.pdn
